[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask-cors = "*"
faker = "*"
marshmallow-sqlalchemy = "*"
marshmallow = "==3.20.1"
sqlalchemy = "==2.0.20"
werkzeug = "==2.3.7"
flask-migrate = "*"
flask-wtf = "*"
python-dotenv = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
